# A default .gitignore for Create Go App project.
# Author: Kent Duong <duonghominhtu1207@gmail.com> (https://github.com/koddr)
# For more information, please visit https://github.com/ghn-toolkit/cli

# macOS
**/.DS_store

# Go builds
**/app/
**/build/

# Temporary files
tmp/

# Node.js dependencies
**/node_modules/

# Files
hosts.ini
*.out
